In [3]:
import pandas as pd

# Load the CSV 
df = pd.read_csv("smaller_dataset.csv")

# Quick look
print(df.shape)      
print(df.columns)    

df.head()

(20000, 6)
Index(['fico_range_low', 'annual_inc', 'dti', 'loan_amnt', 'revol_bal',
       'loan_status'],
      dtype='object')

   fico_range_low  annual_inc    dti  loan_amnt  revol_bal  loan_status
0             705     48000.0  32.63       9000       5396            1
1             690    198000.0  18.72      21000      46287            0
2             715     40000.0  33.89       6000      10937            1
3             710     65000.0  19.76      10000       3045            1
4             665     25000.0  13.44       8000       3187            1

In [4]:
print(df.isnull().sum())

fico_range_low    0
annual_inc        0
dti               0
loan_amnt         0
revol_bal         0
loan_status       0
dtype: int64

In [5]:
print(df['loan_status'].value_counts())

loan_status
1    16653
0     3347
Name: count, dtype: int64

In [6]:
print(df.dtypes)

fico_range_low      int64
annual_inc        float64
dti               float64
loan_amnt           int64
revol_bal           int64
loan_status         int64
dtype: object

In [7]:
# Features (drop the target column)
X = df.drop('loan_status', axis=1)

# Target
y = df['loan_status']

print(X.shape)  
print(y.shape)

(20000, 5)
(20000,)

In [8]:
from sklearn.model_selection import train_test_split

# Split the data
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

print(X_train.shape, X_test.shape)  # Check sizes

(16000, 5) (4000, 5)

In [9]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
X_train_scaled = scaler.fit_transform(X_train)  # Fit and transform training data
X_test_scaled = scaler.transform(X_test)        # Transform test data
#model.fit(X_train_scaled, y_train)              # Train model

In [10]:
from sklearn.linear_model import LogisticRegression

# Create and train the model
model = LogisticRegression(max_iter=1000)  # Increase max_iter if it complains
model.fit(X_train, y_train)

print("Model trained!")

Model trained!

In [11]:
from sklearn.metrics import accuracy_score, classification_report

# Make predictions
y_pred = model.predict(X_test)

# Calculate accuracy
accuracy = accuracy_score(y_test, y_pred)
print(f"Accuracy: {accuracy:.2f}")

# Detailed report (precision, recall, etc.)
print(classification_report(y_test, y_pred))

Accuracy: 0.82
              precision    recall  f1-score   support

           0       0.43      0.00      0.01       700
           1       0.83      1.00      0.90      3300

    accuracy                           0.82      4000
   macro avg       0.63      0.50      0.46      4000
weighted avg       0.76      0.82      0.75      4000

In [40]:
import joblib

# Save the model
joblib.dump(model, "credit_risk_model.pkl")
print("Model saved as 'credit_risk_model.pkl'")

Model saved as 'credit_risk_model.pkl'

In [1]:
import sys
print(sys.executable)

C:\Users\HP\anaconda333\python.exe

In [2]:
pip show streamlit

Name: streamlit
Version: 1.42.2
Summary: A faster way to build and share data apps
Home-page: https://streamlit.io
Author: Snowflake Inc
Author-email: hello@streamlit.io
License: Apache License 2.0
Location: C:\Users\HP\anaconda333\Lib\site-packages
Requires: altair, blinker, cachetools, click, gitpython, numpy, packaging, pandas, pillow, protobuf, pyarrow, pydeck, requests, rich, tenacity, toml, tornado, typing-extensions, watchdog
Required-by:
Note: you may need to restart the kernel to use updated packages.

In [12]:
import joblib
joblib.dump(model, "credit_risk_model.pkl")
joblib.dump(scaler, "scaler.pkl")

['scaler.pkl']